<!DOCTYPE html>
<html lang="en">

<head>
 {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
 
  <title>Thursday Golf League</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Far Oaks Thursday Night League</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#standings">Standings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#scores">Scores By Week</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#handicaps">Handicaps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Info</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Welcome to Scrolling Nav</h1>
      <p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>
    </div>
  </header>

  <section id="standings">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Standings</h2>
          
          <ul>
          <li>
          <table class="table table-dark">
                         <tr>
                            <th>Team</th>
                            <th>Points</th>
                        </tr>
                    {% for team in teams %}
                        <tr>
                            <td>{{team.team}}</td>
                            <td>{{team.points}}</td>

                        </tr>
                  
                        {% endfor %}
          </table> 
          </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="scores" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Services we offer</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="handicaps" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Handicaps</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About</h2>
          
          League Tracking App for Far Oaks Thursday Night League.<br />
                    <p>Designed by Jon Welzbacher in Django (a python web app framework)</p>
                    <br />
                     <br>
                        <b><a href="mailto:jonwelzbacher@gmail.com?Subject=Golf%20League%20Tracker" target="_top"><img src="{% static 'img/email_icon.ico' %}" alt="Email the developer"></a></b>
                    <a href="https://github.com/jwelzbacher/tleague" target="_top"><img src="{% static 'img/github_icon.ico' %}" alt="Github project page"></a><br />
                    <br>
                    <img src="{% static 'img/fo_logo.png' %}">
                    <br />

                    
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Jon Welzbacher 2020</p>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'js/scrolling-nav.js' %}"></script>

  <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });

    $('.pop').popover().click(function () {
        setTimeout(function () {
            $('.pop').popover('hide');
        }, 2000);
    });

    $('.btn-link').on('click', function () {
        $('.collapse').collapse('hide');
    });
    </script>
    

</body>

</html>